importFrom(dplyr, bind_rows)
importFrom(dplyr, select)
importFrom(ExperimentHub, createHubAccessors)
importFrom(GEOquery, getGEOSuppFiles)
importFrom(Matrix, readMM)
importFrom(methods, as)
importFrom(Rdpack, reprompt)
importFrom(utils, read.csv)
importFrom(utils, read.delim)
importFrom(utils, untar)
importFrom(utils, write.csv)
importFrom(SingleCellExperiment, SingleCellExperiment)
importFrom(S4Vectors, DataFrame)
importFrom(S4Vectors, SimpleList)